.main1 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 20px;
    padding: 20px;
    justify-content: space-evenly;
}

.item {
    width: 380px;
    height: auto;
}

.btn {
    padding: 10px;
    border: 2px solid rgb(255,204,0);
    background-color: white;
    font-weight: bold;
    width: 40%;
}

.btn:hover {
    background-color: rgb(255,204,0);
}

.product-img {
    width: 380px;
    height: 300px;
}
