@using MVCApplication1.Models
@model Result
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <div>
            @using (Html.BeginForm("Result", "Home", FormMethod.Post))
        {
            @Html.Label("Name")
            @Html.TextBoxFor(r=>r.Name)
            <br>
            @Html.Label("Email")
            @Html.TextBoxFor(r=>r.Email)
            <br>
            <input type="submit" value="submit" />
        }
        </div>
    </body>
</html>