@using MVCApplication1.Models
@model Result
<html>
    <head>
        <title>result</title>
    </head>
    <body>
        <h1>Hey! @Model.Name</h1>
        <h3>Find the below information</h3>
        <h3>Your email is @Model.Email</h3>

    </body>
</html>